# PDF and text processing
pypdf
fpdf

# Embeddings & vector search
sentence-transformers
langchain

# Database connectivity
psycopg2-binary
sqlalchemy
python-dotenv

#ML
xgboost
mlflow
shap

# API & web framework (future use)
fastapi
uvicorn[standard]
pytest

# MLOps and Monitoring
prometheus-client
grafana-api

# Misc
numpy
pandas
faker
jupyter

#Visualization
seaborn
